
<div class="users-page">
  <a href="/users">Go to All users</a>
</div>

<h1> All Tweets </h1>

 <div>
   <ul>
   <% @tweets.each do |tweet| %>
     <li><%= tweet.message %> </li><% end %>
   </ul>
<%=  will_paginate @tweets %>

 </div>
