<p>
  <a href="/tweets">Go to All Tweets</a>
</p>

<h1> All Users </h1>

 <div>
   <ol>
     <% @users.each do |user| %>
      <li><%= user.name %>
       <%= user.username %>
      </li>
       <a href="/users/<%= user.id %>" > show this user tweets</a>
     <% end %>
 </ol>
 </div>
