<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/users">USERS</a>
      <a class="navbar-brand" href="/tweets">TWEETS</a>
    </div>
  </div>
</nav>
